.icon {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 576px) {
    width: 32px;
    height: 32px;
  }
}

.icon--phone {
  background-image: url('../images/icons/icon-phone-call.svg');
}

.icon--burger-menu {
  background-image: url('../images/icons/icon-burger-menu.svg');

  &:hover {
    background-image: url('../images/icons/icon-burger-menu-hover.svg');
  }
}

.icon--close-menu {
  background-image: url('../images/icons/icon-close.svg');
}
